# API 配置
API_KEY=your_api_key_here
API_URL=https://api.openai.com
API_ENDPOINT=/v1/models # 可选，默认为 /v1/models

# 站点信息
SITE_NAME="Model Gallery"
SITE_LINK=https://github.com/ZhuBaiwan-oOZZXX/Model-Gallery
SITE_IMAGE=https://docs.newapi.pro/assets/logo.png
